@use "../../../styles/variables.scss" as *;

.text-content {
  max-width: 350px;

  &__label {
    color: $black;
    text-align: left;
    font-size: $font-size-s;
  }

  &__card {
    background-color: $light-gray !important;
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
  }
}
