.profile-view {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: $black;
  width: 100%;
  gap: 40px;

  &__element {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  img {
    max-width: 300px;
    max-height: 300px;
  }

  @media (max-width: 1000px) {
    display: block;
    align-items: center;

    img {
      max-width: 200px;
      max-height: 200px;
    }
  }
}
