@use "../../styles/variables.scss" as *;

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dark-blue;
  z-index: 1;
  font-size: $font-size-l;

  &__nav-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
  }

  &__nav-link {
    text-decoration: none;
    color: $white;
    transition: color 0.3s ease;

    &:hover {
      color: $blue;
    }
  }

  &__nav-link--active {
    text-decoration: none;
    transition: color 0.3s ease;
    color: #1abc9c;
    font-weight: bold;

    &:hover {
      color: $blue;
    }
  }

  @media (max-width: 1000px) {
    font-size: $font-size-m;

    img {
      display: none;
    }
  }

  @media (max-width: 600px) {
    font-size: $font-size-s;
  }
}
