.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dark-blue;
  z-index: 1;


  &--nav-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
  }

  &--nav-link {
    text-decoration: none;
    font-size: 30px;
    color: $white;
    transition: color 0.3s ease;

    &:hover {
      color: $blue;
    }
  }

  &--nav-active-link {
    text-decoration: none;
    font-size: 30px;
    transition: color 0.3s ease;
    color: #1abc9c;
    font-weight: bold;

    &:hover {
      color: $blue;
    }
  }
}
