@use '../../styles/variables.scss' as *;

.footer {
  background-color: $dark-blue;
  color: $white;
  padding: 20px;
  text-align: center;
  z-index: 1;

  @media (max-width: 1000px) {
    padding: 0;
  }
}
