.lang {
  margin-right: 10px;

  &__icon {
    width: 40px !important;
    height: 40px !important;
    color: $white;

    @media (max-width: 1000px) {
      width: 20px !important;
      height: 20px !important;
    }
  }
}
